@model PM.DSS.App.Entities.AcademicInformation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AcademicInformation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CandidateStudent.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CandidateStudent.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageofNationalExam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageofNationalExam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageofReportCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageofReportCard)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
